<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootinit.mapper.OdApplicationsMapper">

    <resultMap id="BaseResultMap" type="com.springbootinit.model.domain.OdApplications">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="jobId" column="job_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="resumeSnapshot" column="resume_snapshot" jdbcType="OTHER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,job_id,user_id,
        status,resume_snapshot,created_at
    </sql>
</mapper>
