<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootinit.mapper.OdEvidenceMapper">

    <resultMap id="BaseResultMap" type="com.springbootinit.model.domain.OdEvidence">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="uploaderType" column="uploader_type" jdbcType="TINYINT"/>
            <result property="uploaderId" column="uploader_id" jdbcType="BIGINT"/>
            <result property="evidenceType" column="evidence_type" jdbcType="TINYINT"/>
            <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,uploader_type,
        uploader_id,evidence_type,file_url,
        description,created_at
    </sql>
</mapper>
