<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootinit.mapper.WlTransactionLogsMapper">

    <resultMap id="BaseResultMap" type="com.springbootinit.model.domain.WlTransactionLogs">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="balanceBefore" column="balance_before" jdbcType="DECIMAL"/>
            <result property="balanceAfter" column="balance_after" jdbcType="DECIMAL"/>
            <result property="relatedOrderId" column="related_order_id" jdbcType="BIGINT"/>
            <result property="relatedFreezeId" column="related_freeze_id" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,type,
        amount,balance_before,balance_after,
        related_order_id,related_freeze_id,description,
        created_at
    </sql>
</mapper>
