<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.TJobMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.domain.TJob">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="publisherId" column="publisher_id" jdbcType="BIGINT"/>
            <result property="publisherType" column="publisher_type" jdbcType="TINYINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="requirements" column="requirements" jdbcType="VARCHAR"/>
            <result property="salaryMin" column="salary_min" jdbcType="DECIMAL"/>
            <result property="salaryMax" column="salary_max" jdbcType="DECIMAL"/>
            <result property="salaryUnit" column="salary_unit" jdbcType="VARCHAR"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="quota" column="quota" jdbcType="INTEGER"/>
            <result property="hiredCount" column="hired_count" jdbcType="INTEGER"/>
            <result property="depositAmount" column="deposit_amount" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="rejectReason" column="reject_reason" jdbcType="VARCHAR"/>
            <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,publisher_id,publisher_type,
        title,category,description,
        requirements,salary_min,salary_max,
        salary_unit,location,start_time,
        end_time,quota,hired_count,
        deposit_amount,status,reject_reason,
        view_count,deleted,create_time
    </sql>
</mapper>
