<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.TOrderMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.domain.TOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="jobId" column="job_id" jdbcType="BIGINT"/>
            <result property="publisherId" column="publisher_id" jdbcType="BIGINT"/>
            <result property="acceptorId" column="acceptor_id" jdbcType="BIGINT"/>
            <result property="studioId" column="studio_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="agreeTime" column="agree_time" jdbcType="TIMESTAMP"/>
            <result property="finishTime" column="finish_time" jdbcType="TIMESTAMP"/>
            <result property="confirmTime" column="confirm_time" jdbcType="TIMESTAMP"/>
            <result property="salaryAmount" column="salary_amount" jdbcType="DECIMAL"/>
            <result property="depositStatus" column="deposit_status" jdbcType="TINYINT"/>
            <result property="rating" column="rating" jdbcType="TINYINT"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="cancelReason" column="cancel_reason" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,job_id,
        publisher_id,acceptor_id,studio_id,
        status,agree_time,finish_time,
        confirm_time,salary_amount,deposit_status,
        rating,comment,cancel_reason,
        deleted,create_time
    </sql>
</mapper>
