<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.TReportMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.domain.TReport">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="reporterId" column="reporter_id" jdbcType="BIGINT"/>
            <result property="targetId" column="target_id" jdbcType="BIGINT"/>
            <result property="targetType" column="target_type" jdbcType="TINYINT"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="evidenceImgs" column="evidence_imgs" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="handlerId" column="handler_id" jdbcType="BIGINT"/>
            <result property="resultDesc" column="result_desc" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,reporter_id,target_id,
        target_type,reason,evidence_imgs,
        status,handler_id,result_desc,
        create_time
    </sql>
</mapper>
